  {{ if in .Params.play "revealjs[beige]" }}
  {{ $beige := resources.Get "css/revealjs/theme/beige.css" }}
  <link rel="stylesheet" href="{{ $beige.Permalink }}" id="theme">
  {{ end }}
    {{ if in .Params.play "revealjs[black]" }}
  {{ $black := resources.Get "css/revealjs/theme/black.css" }}
  <link rel="stylesheet" href="{{ $black.Permalink }}" id="theme">
  {{ end }}
    {{ if in .Params.play "revealjs[blood]" }}
  {{ $blood := resources.Get "css/revealjs/theme/blood.css" }}
  <link rel="stylesheet" href="{{ $blood.Permalink }}" id="theme">
  {{ end }}
    {{ if in .Params.play "revealjs[league]" }}
  {{ $league := resources.Get "css/revealjs/theme/league.css" }}
  <link rel="stylesheet" href="{{ $league.Permalink }}" id="theme">
  {{ end }}
     {{ if in .Params.play "revealjs[magazine]" }}
  {{ $magazine := resources.Get "css/revealjs/theme/magazine.css" }}
  <link rel="stylesheet" href="{{ $magazine.Permalink }}" id="theme">
  {{ end }}
    {{ if in .Params.play "revealjs[moon]" }}
  {{ $moon := resources.Get "css/revealjs/theme/moon.css" }}
  <link rel="stylesheet" href="{{ $moon.Permalink }}" id="theme">
  {{ end }}
    {{ if in .Params.play "revealjs[night]" }}
  {{ $night := resources.Get "css/revealjs/theme/night.css" }}
  <link rel="stylesheet" href="{{ $night.Permalink }}" id="theme">
  {{ end }}
    {{ if in .Params.play "revealjs[serif]" }}
  {{ $serif := resources.Get "css/revealjs/theme/serif.css" }}
  <link rel="stylesheet" href="{{ $serif.Permalink }}" id="theme">
  {{ end }}
    {{ if in .Params.play "revealjs[simple]" }}
  {{ $simple := resources.Get "css/revealjs/theme/simple.css" }}
  <link rel="stylesheet" href="{{ $simple.Permalink }}" id="theme">
  {{ end }}
    {{ if in .Params.play "revealjs[sky]" }}
  {{ $sky := resources.Get "css/revealjs/theme/sky.css" }}
  <link rel="stylesheet" href="{{ $sky.Permalink }}" id="theme">
  {{ end }}
    {{ if in .Params.play "revealjs[solarized]" }}
  {{ $solarized := resources.Get "css/revealjs/theme/solarized.css" }}
  <link rel="stylesheet" href="{{ $solarized.Permalink }}" id="theme">
  {{ end }}
  		    {{ if in .Params.play "revealjs[white]" }}
  {{ $white := resources.Get "css/revealjs/theme/white.css" }}
  <link rel="stylesheet" href="{{ $white.Permalink }}" id="theme">
  {{ end }}