{{ $reveal := resources.Get "js/revealjs/reveal.js" }}
<script src="{{ $reveal.Permalink }}"></script>
{{ $notes := resources.Get "js/revealjs/plugin/notes/notes.js" }}
<script src="{{ $notes.Permalink }}"></script>
{{ $markdown := resources.Get "js/revealjs/plugin/markdown/markdown.js" }}
<script src="{{ $markdown.Permalink }}"></script>
{{ $highlight := resources.Get "js/revealjs/plugin/highlight/highlight.js" }}
<script src="{{ $highlight.Permalink }}"></script>
<script>
	Reveal.initialize({
		hash: true,
		plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
	});
</script>