

{{ if or (in .Params.play "jquery") (in .Params.play "modernizr") }}
{{ partial "jquery.html" . }}
{{ end }}

{{ if in .Params.play "modernizr" }}
{{ $modernizr := resources.Get "js/modernizr.js" }}
<script src="{{ $modernizr.Permalink }}"></script>
{{ $detectizr := resources.Get "js/detectizr.js" }}
<script src="{{ $detectizr.Permalink }}"></script>
{{ end }}
{{ if in .Params.play "p5js" }}
{{ $p5js := resources.Get "js/p5.min.js" }}
<script src="{{ $p5js.Permalink }}"></script>
{{ end }}
{{ if in .Params.play "ml5js" }}
<script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
{{ end }}

{{ if in .Params.play "no-zoom" }}
<script>
  document.addEventListener('gesturestart', function (e) {
    e.preventDefault();
  });
</script>
{{ end }}
{{ if in .Params.play "smooth-scroll" }}
<script>
 $('a').click(function(){
  $('html, body').animate({
    scrollTop: $( $(this).attr('href') ).offset().top
  }, 500);
  return false;
});
</script>
{{ end }}

