<section>
				<h2>What it is</h2>
				<ul>
					<li  class="fragment">facilitates <tt>#need</tt>s and <tt>#offer</tt>s in a community</li>
					<li  class="fragment">taxonomy is defined bottom-up by <tt>#tags</tt></li>
					<li  class="fragment">regions are defined bottom-up by geofencing</li>
				</ul>
			</section>
			<section>
				<picture class="right mobile more-down">{{ partial "wish/story1-1.svg" . }}</picture>
				<h2><tt>#compost</tt></h2>
				<p>Denise searches for a <tt>#compost</tt> <tt>#offer</tt> nearby.</p>
			</section>
			<section>
				<picture class="right mobile more-both">{{ partial "wish/story1-2.svg" . }}</picture>
				<h3><tt>#compost</tt></h3>
				<p>Denise enters a private room with Mary, the one <tt>#offer</tt>ing the <tt>#compost</tt>.</p>
			</section>
			<section>
				<picture class="right mobile more-up">{{ partial "wish/story1-3.svg" . }}</picture>
				<h3><tt>#compost</tt></h3>
				<p>Mary chooses to <tt>#offer</tt> <tt>#compost</tt> to Denise, Denise decides to <tt>#pickup</tt>, they agree on best time.</p>

			</section>
			<section>
				<picture class="right survey">{{ partial "wish/story1-4.svg" . }}</picture>
				<h3><tt>#compost</tt></h3>
				<p>After transaction, both Denise and Mary answer how it went.</p>
				<p>✨wish is then forgotten, along with location, conversation and metadata.</p>
			</section>

<!-- <section id="story1"></section>
<section id="story2">
<section>
	<h2><tt>#leftovers</tt></h2>
	<p>Margo made more food than she can eat, and it will go bad.</p>
	<p>She creates a ✨wish to <tt>#offer</tt> her <tt>#leftovers</tt>, with a picture and her location.</p>
</section>
<section>
	<h2><tt>#leftovers</tt></h2>
	<p>Margo made more food than she can eat, and it will go bad.</p>
	<p>She's notified that Jenn is interested.</p>
</section>
<section>
	<h2><tt>#leftovers</tt></h2>
	<p>Jenn and Margo talk for a bit, just enough so Margo chooses her.</p>
	<p>Jenn chooses to <tt>#pickup</tt></p>
</section>
<section>
	<h2><tt>#leftovers</tt></h2>
		<p>after transaction, both Jenn and Margo answer how it went.</p>
		<p>✨wish is then forgotten, along with location and conversation.</p>
</section>
</section> -->

