<!DOCTYPE html>
{{ partial "html.html" . }}
{{ partial "head.html" . }}
<body>

	<div class="container">
		<div class="flyer">
		<header class="header">
			
			<div class="identity">{{ partial "identity.svg" . }} </div>
			<div class="hybrid">{{ partial "hybrid.svg" . }} </div>
		</header>
		<div class="content">
		<header>
				<h1 class="title">{{ .Title }}</h1>
			<p class="when">{{ .Params.When }}</p>
		</header>
			{{ .Content }}
			{{ if in .Params.style "print"  }}
			<div class="action print-CTA">Buy tickets at <a href="https://hybrididentity.nyc">HybridIdentity.nyc</a></div>
			{{ else }}
			<div class="action">
   <a href="{{ .Params.CTAlink }}" class="btn btn-block">{{ .Params.CTA }}
   </a>
   <p class="price">{{ .Params.Price }}</p>
</div>
{{ end }}
		</div>
			<footer class="verse1">{{ .Params.verse1 }}<div class="drop">{{ partial "drop.svg" . }} </div></footer>
			
			<footer class="verse2">{{ .Params.verse2 }}
<div class="social"><a class="icon" href="https://soundcloud.com/hybrididentity">{{ partial "social/soundcloud-circle.svg" . }}</a> <a class="icon" href="https://www.instagram.com/hybrididentity.nyc/">{{ partial "social/instagram.svg" . }}</a></div>
			</footer>
			
	</div>
</div>
	
	{{ partial "scripts.html" . }} 

</body>
</html>

