<!DOCTYPE html>
{{ partial "html.html" . }}
{{ partial "head.html" . }}
<body>
	<div class="cover"></div>
	<div class="container">
		<div class="flyer">
			<header class="logo">
				<div>{{ partial "HI.svg" . }}</div>
			</header>
			<header class="title">
					<h1 class="title">{{ .Title }}</h1>
					<p class="when">{{ .Params.When }} <sup>{{ .Params.Time }}</sup></p>
				</header>
					<div class="set">
					<p class="title">Place</p>
					<ul>
						<li>Magick City
						</li>
						<li>37 Box Street, Brooklyn, NY <a class="social location" href="https://www.google.com/maps/place/37+Box+St,+Brooklyn,+NY+11222,+USA/data=!4m2!3m1!1s0x89c2593c1540cd29:0x4f2a2ed1cdcd63f6?sa=X&ved=2ahUKEwjLxqP6wIPxAhWkr5UCHUX-ArYQ8gEwAHoECAUQAQ"></a>
						</li>
					</ul>
				</div>
			<div class="content">
			{{ if in .Params.style "print"  }}
			<div class="action print-CTA">$20 presale tickets available at <a href="https://hybrididentity.nyc">hybridIdentity.nyc</a></div>
			{{ else }}
			<div class="action">
				<a href="{{ .Params.CTAlink }}" class="btn btn-block">
					<span class="social ra-2"></span>
					<span class="copy"><p>{{ .Params.CTA }}</p><p>{{ .Params.Price1 }}</p></a>
					</span>
					<p class="price">{{ .Params.Price2 }}</p>
				</div>
				{{ end }}
			</div>

			</div>
		</div>
		<div id="content">
							<div id="slider" data-images='[
				"/images/one-way-mirror/2aba8722bd325d6c9ee723.jpg",
				"/images/one-way-mirror/2f2cfaebb0495350d790f5.jpg"
				]'>
			</div>
		</div>
		{{ partial "scripts.html" . }} 
	</body>
	</html>

