<!DOCTYPE html>
{{ partial "html.html" . }}
{{ partial "head.html" . }}
<body class="list">
		{{ partial "cover.html" . }}
	<div class="box-content">
			<aside>
			<div class="fixed">
					{{ partial "logo.html" . }}
				{{ partial "footer.html" . }}
			</div>
		</aside>
		<article class="main">
			<header class="header">
				<h1>{{ .Site.Title }}</h1>
				<h2>/{{ .Title | singularize }}</h2>
			</header>
			<div class="description">
				{{ if (eq .Title "study") }}	!!!!
				{{ end }}
				{{ if in .Title "study" }}yyyy{{ end }}
			</div>
				<div class="category-menu">
						
						 {{ range .Pages }}
						{{ partial "category-post.html" . }}
						{{ end }}
					</div>
		{{ partial "footer.html" . }}
		
		</article>
	</div>
	{{ partial "scripts.html" . }} 
</body>
</html>