<!DOCTYPE html>
{{ partial "html.html" . }}
{{ partial "head.html" . }}
<body class="list">
		{{ partial "cover.html" . }}
	<div class="container">
		{{ partial "logo.html" . }}
		<article class="main">
			<header class="header">
				<h1>{{ .Site.Title }}</h1>
				<h2>/{{ .Title }}</h2>
			</header>
			<ul class="list">
			 {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
</ul>
			{{ partial "footer.html" . }}
		</article>
	</div>
	{{ partial "scripts.html" . }} 
</body>
</html>