<!DOCTYPE html>
{{ partial "html.html" . }}
{{ partial "head.html" . }}
<body>
{{ if in .Params.Category "slide" }}
	<div class="reveal">
			<div class="slides">
	{{ partial "wish/slide.html" . }}
</div>
</div>
{{ else }}

	{{ partial "cover.html" . }}
	<div class="container">
		{{ partial "logo.html" . }}
		<article class="main">
			<header class="header">
				<h1>{{ .Title }}</h1>
				<h2>{{ .Description }}</h2>
			</header>
			{{ if in .Params.Category "study" }}
			{{ if not (in .Params.Badge "zine") }}
			{{ partial "study-rules.html" . }}
			{{ end }}
			{{ end }}
			{{ .Content }}
			{{ partial "footer.html" . }}
		</article>
	</div>

{{ end }}
	{{ partial "scripts.html" . }} 
</body>
</html>

