<!DOCTYPE html>
{{ partial "html.html" . }}
{{ partial "head.html" . }}
<body>
	<div class="background"></div>
	<a href="{{ .Site.BaseURL }}" class="sig" >{{ partial "logo-big.svg" . }}<span> {{ .Site.Title }}.nyc</span></a>
	<div class="reveal">
			<div class="slides">
				<section class="cover">
				<h1>{{ .Title }}</h1>
				<h2  class="fragment">{{ .Description }}</h2>
				 {{ if in .Params.Partners "colet" }}
					<h3 class="collab fragment">A <a href="{{ .Site.BaseURL }}" >{{ partial "logo-big.svg" . }}</a> and 
<a href="https://colet.space" target="_blank">
<img src="{{ .Site.BaseURL }}images/colet-logo@2x-300x109.png"></a> collaboration
					</h3>
{{ else if in .Params.Partners "SEL" }}
<h3 class="collab fragment">A <a href="{{ .Site.BaseURL }}" >{{ partial "logo-big.svg" . }}</a> talk for <a href="https://lizlessner.com/about-sel/">Sensory Engagement Lab</a></h3>
{{ else }}
presentation
{{end}}
			</section>
			{{ if in .Params.Title "✨Wish" }}
	{{ partial "wish/slide.html" . }}
	{{ else }}
	{{ .Content }}
	{{ end }}
	
</div>
</div>
	{{ partial "scripts.html" . }} 
</body>
</html>

