section.category {
	margin-bottom: var(--gap-2);
	&:before {
		content: "";
		background-color: var(--color-fg);
		height: 3px;
		display: block;
		box-shadow: 
		-10px 0 0 var(--color-fg);
		margin-bottom: var(--gap-2);
	}
	&:last-of-type:after {
		content: "";
		background-color: var(--color-fg);
		height: 3px;
		display: block;
		box-shadow: 
		-10px 0 0 var(--color-fg);
		margin-top: var(--gap-2);

	}

	a.btn {
			@media screen and (min-width: $bp) {
					float: right;
		margin-top: -55px;
			}
	
	}
	.category-description {
		margin-top: var(--gap);
		p {
			@include highlight(var(--color-bg),
				$spacing: 0);
		}
	}
	.category-menu {
		@include transition;
		height: 0px;
		overflow-y: hidden;
		display: flex;
		flex-wrap: no-wrap;
		overflow-x: auto;
		max-width: 520px;
				.category-post {
			flex: 0 0 auto;
			margin-top: 20px;
			width: calc(var(--nav) * 2);
			&:hover {
				width: calc(var(--nav) * 2.3);
			}
		}
		a.btn { 
		white-space: nowrap;
		margin: auto var(--gap-2);

		}
	}
	
	&:hover .category-menu, html.touch & .category-menu {
		height: calc(var(--nav) + 40px);
		.category-post {
			@include fadeInLeft;

		}
	}
	html.touch & .category-menu {
	@include fadeInDown($delay: calc(var(--delay) * 4));
	}
	
}


.category-menu {
		@include transition;
		.category-post {
			padding: var(--gap-2);
			displaY: block;
			height: var(--nav);
			text-decoration: none;
			@include assorted-bgs;
			background-size: cover !important;
			background-position: center center !important;
			header {
				width: calc(var(--nav) * 2);
			}
			p {
				@include transition;
text-transform: uppercase;
				font-weight: bold;
				
			}
			&:hover {
				@include scale(1.1);
				p {
					@include highlight(var(--color-accent),$spacing: 0px);
					color: var(--color-bg);
					
				}
			}

			.title {
				font-size: 150%;
				line-height: 50%;
				@include highlight($spacing: 0px);
			}
		}
	}
