section.category {
	margin-bottom: var(--gap-2);
	&:before {
		content: "";
		background-color: var(--color-fg);
		height: 3px;
		display: block;
		box-shadow: 
		-10px 0 0 var(--color-fg);
		margin-bottom: var(--gap-2);
	}
	&:last-of-type:after {
		content: "";
		background-color: var(--color-fg);
		height: 3px;
		display: block;
		box-shadow: 
		-10px 0 0 var(--color-fg);
		margin-top: var(--gap-2);

	}
	& > a.btn {
		float: right;
		margin-top: -65px;
	}
	.category-description {
		margin-top: var(--gap);
		p {
			@include highlight(var(--color-bg),
				$spacing: 0);
		}
	}
	
	.category-menu {
		@include transition;
		// height: 0px;
		// overflow-y: hidden;
		display: flex;
		flex-wrap: no-wrap;
		overflow-x: auto;
		max-width: 520px;
		a.btn { 
		white-space: nowrap;
		margin: auto var(--gap-2);

		}
		.category-post {
			flex: 0 0 auto;
			margin-top: 20px;
			padding: var(--gap-2);
			width: calc(var(--nav) * 2);
			height: var(--nav);
			text-decoration: none;
			background-size: cover;
			background-position: center center;
			header {
				width: calc(var(--nav) * 2);
			}
			p {
				@include transition;
text-transform: uppercase;
				font-weight: bold;
				
			}
			&:hover {
				width: calc(var(--nav) * 2.3);
				p {
					@include highlight(var(--color-accent),$spacing: 0px);
					color: var(--color-bg);
					
				}
			}

			.title {
				font-size: 150%;
				line-height: 50%;
				
				@include highlight($spacing: 0px);
			}
		}
	}
	&:hover .category-menu {
		height: calc(var(--nav) + 40px);
		.category-post {
			@include fadeInLeft;

		}
	}
	
}
