
.summer-original {
	body {
		background: none;
	}
	canvas {
		display: none;
	}
}

.test2 {
	--color-fg: white;
	--color-accent: #ffff00;
	body {
		background-image: url(/images/summer-solstice/05.jpg);
	}
}
.test {
	body {
		background: none !important;
	}
}


