@font-face {
	font-family: 'cm_sans_serif';
	src: url('../fonts/cm_sans_serif_2012-webfont.woff2') format('woff2'),
	url('../fonts/cm_sans_serif_2012-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family:  cm_sans_serif;
	color:  var(--color-fg);
		background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	svg path {
		fill: var(--color-fg);
	}
}



h1, h2, h3 {
	@include reset(all);
}
@media screen and (max-width: 450px) {
	h1.title {
		font-size: 30px;
	}
	}
.lineup {
	border-top: solid 1px var(--color-fg);
	border-bottom: solid 1px var(--color-fg);
	padding: var(--gap-3) 0;
	margin: var(--gap-3) 0;
	 @media screen and (max-width: 450px) {
	 		padding: var(--gap-2) 0;
	margin: var(--gap-2) 0;
	 }
	ul {
		@include reset(list);
		@include reset(all);
	}
}
html, body {
	height: 100%;
}
.container {
	height: 100%;
	width: var(--flyer);

	display: table;
	padding: var(--gap-2);
	    @media screen and (max-width: 450px) {
     width: 100%;
     padding: var(--gap) !important;
    }
}
.content {
	margin: var(--offset);
	.title {
		@include fadeInUp($delay: calc(var(--delay) * 1));
	}
	.lineup {
		@include fadeInUp($delay: calc(var(--delay) * 2));
	}
	.place {
		@include fadeInUp($delay: calc(var(--delay) * 3));
	}
	.action {
		@include fadeInUp($delay: calc(var(--delay) * 4));
	}

}





.print {
	.verse2, .place {
		a {
		display: none;
	}
	}
	.action {
	font-size: 120%;
	border-top: solid 1px var(--color-fg);
	padding-top: var(--gap-4);
	margin-top: var(--gap-4);
	a {
		color: var(--color-fg) !important;
		border-bottom: solid 1px var(--color-fg);

	}

}
}



.content {
	z-index: 100;

}
header.header {
	height: var(--quote);
	z-index: 50;
	
}
header.header {
	position: absolute;
	margin-left: calc(var(--offset) * -1px);
	.hybrid {
		margin-top: 10px;
	}
}
footer {
	font-size: 120%;
	&.verse1 {
		height: var(--quote-height);
		margin-top: var(--quote-height-neg);
		text-align: right;
		.drop {
			display: inline;
			margin-left: 10px;
		}
	}
	&.verse2 {
		text-orientation: mixed;
		writing-mode: vertical-rl;
		height: var(--quote-width);
		width: var(--quote-height);
		padding-top: calc(var(--quote-height) + var(--gap));
		margin-top: var(--quote-width-neg);
		@include rotate(180);
		float: right;
		.social {
			displaY: inline-block;
			margin-top: var(--gap);
			a {
				margin-top: 4px;
			}
			svg {
				@include rotate(90);
			}
		}
	}
}
.flyer {
	display: table-cell;
	height: 100%;
	vertical-align: middle;

}

.sig {
			font-size: 80%;
		
}

a {
	@include transition;
	&:not(.btn):not(.icon) {
		color: var(--color-accent);
		text-decoration: underline;

		&:hover {
			color: var(--color-fg);

		}
	}
	&.icon {
		text-decoration: none;
		svg path {
			@include transition;
			fill: var(--color-accent);
		}
		&:hover {
			svg path {
				fill: var(--color-fg);
			}
		}
	}
	&.btn {
		@include transition;
		border: solid 2px var(--color-fg);
		text-transform: uppercase;
		@include radius(0);
		@include shadow(box, 0 5px 0px rgba(0, 0, 0, 0.1));
		padding: var(--gap-2);
		color: var(--color-fg);

		&:hover {
			color: var(--color-accent);
			border-color: var(--color-accent);
			@include shadow(box, 0 0px 15px rgba(0, 0, 0, 0.3));
		}
		span.sig {
			displaY: block;
		}
	}
}
