@include font-face(Space Grotesk, 
	$path: "../fonts/", 
	$file: SpaceGrotesk-Light, 
	$weight: normal, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);


@include font-face(Space Grotesk, 
	$path: "../fonts/", 
	$file: SpaceGrotesk-Medium, 
	$weight: bold, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

@include font-face(Hasklig, 
	$path: "../fonts/", 
	$file: hasklig-light, 
	$weight: normal, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

footer.footer {
	body.home & nav {
		display: none;
	}

	--logo-small: 18px;
	aside & {
		nav {
			margin-bottom: var(--gap-2);
		}
		a {
			@include highlight($gap: 5px, $spacing: 3px);
			&:hover {
				@include highlight(var(--color-accent-2), $gap: 5px, $spacing: 3px);
				color: var(--color-fg);

			}
		}
	}
	article.main & {
		
		display: inline;
		
		a {
			display: inline-block;
			&:not(:first-of-type) {
				margin-left: -6px;
			}
			background-color: var(--color-bg);
			padding: var(--gap-quart) var(--gap);
			&:hover {
				background-color: var(--color-accent-2);
				color: var(--color-fg);
			}

		}
	}

	a {
		text-decoration: none;
		font-size: 90%;
		&:not(.path) {
			text-transform: capitalize;
		}
		&.path {
			font-weight: bold;
			&:before {
				content: "/";
				background-image: url("../images/logo-small.svg");
				background-size: var(--logo-small) var(--logo-small);
				html.dark-mode & {
					background-image: url("../images/logo-small-white.svg");
				}
				width: calc(var(--logo-small) + 7px);
				background-repeat: no-repeat;
				background-position: left 2px;
				display: inline-block;
				text-align: right;

			}

		}
	}
}





p {
	@include highlight;
	line-height: 160%;
	&:last-of-type {
		@include highlight($spacing: 0px);
	}

}

.list {
	header.header {
		h1 {
			@include highlight(
				$bg: var(--color-fg), 
				$spacing: 0px
				);
		}
		h2 {
			text-transform: lowercase;
			font-weight: normal;
		}
	}
}




.logo {
	@include fadeInDown;
}
article.main, .description {
	@include fadeInDown($delay: var(--delay));
}

footer.footer {
	@include fadeIn($delay: calc(var(--delay) * 6));
}

section.category, section.session, section.group, ul.list {
	&:nth-of-type(1) {
		@include fadeInDown($delay: calc(var(--delay) * 2));
	}
	&:nth-of-type(2) {
		@include fadeInDown($delay: calc(var(--delay) * 3));
	}
	&:nth-of-type(3) {
		@include fadeInDown($delay: calc(var(--delay) * 4));
	}
	&:nth-of-type(4) {
		@include fadeInDown($delay: calc(var(--delay) * 5));
	}
	&:nth-of-type(5) {
		@include fadeInDown($delay: calc(var(--delay) * 6));
	}
	&:nth-of-type(6) {
		@include fadeInDown($delay: calc(var(--delay) * 7));
	}

}



body {
	font-family: var(--font);
	padding: 20px;
	margin: 0;
	background-image: url("../images/dot-bg.svg");
	font-weight: normal;
	background-attachment: fixed;
	background-color: var(--color-bg);
	font-size: 18px;
	color: var(--color-fg);
}




a:not(.btn) {
	color: var(--color-fg);
	text-decoration: underline;
	@include transition;
	&:hover {
		color: var(--color-accent);
	}
}

.paths {
	@include highlight;
	font-size: 35px;
	font-weight: bold;
	&:before {
		content: "/";
		background-image: url("../images/logo-small.svg");
		html.dark-mode & {
			background-image: url("../images/logo-small-white.svg");
		}
		width: calc(var(--logo-small) + 20px);
		background-repeat: no-repeat;
		background-position: left 10px;
		display: inline-block;
		text-align: right;

	}
}

span.emoji {
	font-size: 150%;
	padding: 0 var(--gap-half);
}
code {
	background-color: var(--color-medium);
	padding: 0 var(--gap-half);
	margin: 0 var(--gap-quart);
	font-family: Hasklig;
	color: var(--color-bg);
}


html:not(.slide) {
	h1, h2, h3, h4 {
		@include highlight($bg: var(--color-fg), 
			$spacing: var(--gap-2));
		color: var(--color-bg);
		text-transform: uppercase;
		font-weight: bold;

	}
}

body.home {
	header.header {
		h1 {
			@include highlight(
				$bg: var(--color-fg), 
				$spacing: var(--gap-2)
				);
		}
	}
}

h1 {
	font-size: 45px;
}
h2 {
	font-size: var(--gap-2);
}
h3 {
	font-size: 25px;
}
header.header {
	margin-top: 8px;
	margin-bottom: var(--gap-2);
	h1, h2 {
		@include highlight(
			$bg: var(--color-fg), 
			$spacing: 5px
			);
		color: var(--color-bg);
		text-transform: uppercase;

	}

	ul.slogan {
		@include reset(list);
		@include reset(all);
		li {
			@include highlight(
				$bg: var(--color-fg),
				$spacing: 0px
				);
			color: var(--color-bg);
			font-weight: normal;
			font-size: 22px;
		}
		
	}

	
}

a.btn {

	background-color: var(--color-fg);
	color: var(--color-bg);
	text-align: left;
	@include radius(0);
	font-weight: bold;
	@include transition;
	&:hover {
		background-color: var(--color-accent);
		color: var(--color-bg);
	}
	&:after {
		content: " +";
	}
	&.CTA {
		text-transform: uppercase;
		margin-top: -170px;
		text-align: center;
		line-height: 120%;
		background-color: #FAFCB8;
		@include bounceIn($delay: var(--delay));
		display: flex;
		justify-content: center;
		flex-direction: column;
		float: right;
		@include radius(50%);
		.text {
			@include rotate(5);
			display: block;
			@include transition;
		}
		.sig {
			display: block;
			border-top: solid 1px var(--color-bg);
			margin-top: var(--gap-half);
			padding-top: var(--gap-half);
			font-size: 90%;
		}

		width: var(--CTA-size);
		height: var(--CTA-size);
		&:hover {
			background-color: var(--color-fg);
			.text {
				@include rotate(-5);
			}
		}
		&:after {
			content: "";
		}
	}
}

a.logo {
	svg {
		#background, #logo {
			fill: var(--color-fg);

			@include transition;

		}
		#border {
			fill: var(--color-bg);
		}
	}
	&:hover {
		#background, #logo {
			fill: var(--color-accent);

		}
	}
}

section.feature-list, section.status {
	border-top: solid 3px var(--color-fg);
	margin-top: var(--gap-2);
	&:last-of-type {	
		border-bottom: solid 3px var(--color-fg);
	}
}
section.status {
	padding-top: var(--gap-2);
	h1,h2, h3, h4, h4 {
		@include highlight($bg: var(--color-bg), 
			$spacing: var(--gap-2));
		color: var(--color-fg);
	}
	&:last-of-type {

		padding-bottom: var(--gap-2);
	}
}




.cover {
	position: fixed;
	border-bottom: dashed 3px var(--color-bg);
	left: 0;
	z-index: -1;
	background-size: cover;
	background-position: left center;
	top: 0;
	width: 100%;
	height: 205px;
	@include fadeInDown;
	.no-cover & {
		display: none;
	}
}

.category-menu section.status {
	&:nth-of-type(1) {
		@include fadeInDown($delay: calc(var(--delay) * 2));
	}
	&:nth-of-type(2) {
		@include fadeInDown($delay: calc(var(--delay) * 3));
	}
	&:nth-of-type(3) {
		@include fadeInDown($delay: calc(var(--delay) * 4));
	}

}

.study {

	article {
		counter-reset: section;

	}
	&:not(.current) {
		.syllabus {
			.calendar, .room {
				display: none;
			}
		}
	}
	section.session {
		margin-top: var(--gap-7);
		display: grid;
		grid-template-columns: var(--logo-size) 1fr;
		grid-gap: var(--gap-2);
		margin-left: -10px;
		.counter:before {
			displaY: inline-block;
			width: var(--logo-size);
			height: var(--logo-size);
			background-color: rgba(black, .3);
			margin-top: -5px;
			counter-increment: section;                   /* Increment the value of section counter by 1 */
			content: counter(section); 
			color: var(--color-fg); 
			font-size: 300%;
			padding-top: 10px; 
			text-align: center;   
			@include radius(50%); 
		}
		&:last-of-type {
			margin-bottom: var(--gap-7);
		}
		.syllabus {
			@include reset(all);
			@include reset(list);
			li {
				@include highlight;
				&.title {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 150%;
					@include highlight($spacing: 0px);
				}
				&.meeting {
					font-size: 80%;
					text-transform: uppercase;
				}
				a {
					text-transform: uppercase;
					font-weight: bold;
				}
			}
		}
		
	}

}


.notes {
	border-top: solid 3px var(--color-medium);
	font-size: 90%;
	padding-top:  var(--gap-2);
	margin-top: var(--gap-2);
	@include transition;
	&:not(:hover) {
		&, a {
			color: var(--color-dark);
		}
	}
}

span.badge {

	background-color: rgba(white, .6);
	padding: 5px 10px 2px 10px; 
	color: var(--color-accent);
	text-transform: uppercase;
	@include radius(0px);
	margin-right: -10px;
	margin-top: 5px;
}

.instructions {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: var(--gap-2);
	border-top: solid 3px var(--color-fg);
	margin-top: var(--gap-8);
	padding: var(--gap-2) 0;
	border-bottom: solid 3px var(--color-fg);
	p {
		font-size: 90%;
	}
	svg {
		width: 130px;
		height: 130px;
		background-color: white;
		padding: var(--gap-half);

		margin-bottom: var(--gap);
	}
	.btn {
		margin-left: -10px;
		margin-top: var(--gap);

	}
}

.sig {
	bottom: var(--gap);
	left: var(--gap);
	@include opacity(40);
	z-index: 1000;
	&:hover {
		@include opacity(100);
	}
	@include transition;
	text-decoration: none !important;
	svg {
		height: var(--gap-2);
		width: var(--gap-2);
	}
	span {
		@include highlight(var(--color-fg),  $gap: 10px, 
			$spacing: 0px, 
			$top: 7px, 
			$bottom: 3px, 
			$break: true);
		color: var(--color-bg);
		text-transform: uppercase;
		font-weight: bold;
		font-size: 90%;
		margin-left: var(--gap-half);

	}
}
blockquote {
	margin-top: var(--gap);
	padding: var(--gap);
	padding-left: 0;
	color: var(--color-fg);
	font-style: italic;
	&:before {
		content: "\201C";
		font-size: 100px;
		line-height: 110%;
		display: block;
		float: left;
		padding: 0;
		z-index: 800;
		color: var(--color-medium); 
		text-align: center;  
		margin-left: -10px; 
		font-style: normal;
		margin-top: -10px; 
		padding-right: var(--gap);

	}
}
