#request {
	@include fadeIn;
	&.closed {
		@include fadeOut;
		.modal {
			@include fadeOutUp;
		}
	}
	background-color: rgba(0,0,0,.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	.modal {
		@include fadeInDown;
		background-color: white;
		width: 300px;
		margin: 0 auto;
		padding: $gap2;

		@include radius(0, 0, $gaphalf, $gaphalf, irregular);
		@include shadow(box, 0 3px 0px rgba(0, 0, 0, 0.1));
		.icon svg {
			width: 80px;
			path: #333;
		

		}
		

	}
	.checklist {
		border-top: dashed 1px purple;
		a {
			font-weight: bold;
			&:hover {
				background-color: lighten(purple,70%);
				color: purple;
				svg {
					path: purple;
				}
			}
	svg {
		width: 20px;
		height: 20px;
		margin-right: 10px;
		@include translate(0, 7);

	}
			display: block;
			padding: $gap;
			border-bottom: dashed 1px purple;
			background-color: white;
			text-decoration: none;
		}
	}
}

.launch {
text-decoration: none;
background-color: purple;
color: white;
display: block;
text-align: center;
padding: $gap;
margin-top: $gap2;
font-size: 130%;

&:hover {
	margin-top: $gap2;
}
border: solid 1px white;
@include radius($gaphalf);
			font-weight: bold;
			@include shadow(box, 0 3px 0 rgba(0, 0, 0, 0.1));
}