{{ if in .Params.category "books" }}
		<a data-toggle='popover' data-placement='bottom' title='more books' data-html='true' data-content='{{ range where .Site.Pages "Params.category" "books" }}
<a href="{{ .Permalink }}"><span class="title">{{ .Title }}</span></a>
		{{ end }}</ul>'>books</a>
		{{ end }}

		{{ if in .Params.category "studies" }}
		<a data-toggle='popover' data-placement='bottom' title='more studies' data-html='true' data-content='{{ range where .Site.Pages "Params.category" "studies" }}
<a href="{{ .Permalink }}"><span class="title">{{ .Title }}</span></a>
		{{ end }}</ul>'>studies</a>
		{{ end }}