<a  class="category-post" href="{{ .Permalink }}"  {{ if .Params.cover  }}style="background-image: url({{ .Site.BaseURL }}images/{{ .Params.cover  }})"{{end}}>

		
			
	<header>
		<p class="title">{{ .Title }}</p>
		<p class="description">{{ .Description }}</p>
		{{ if in .Params.Category "redux" }}
		<span class="badge">{{ .Params.Category }}</span>
		{{ end }}
		{{ if in .Params.Category "slide" }}
		<span class="badge">{{ .Params.Category }}</span>
		{{ end }}
		{{ if in .Params.Status "current" }}
		<span class="badge">{{ .Params.Status }}</span>
		{{ end }}
		{{ if in .Params.Status "previous" }}
		<span class="badge">{{ .Params.Status }}</span>
		{{ end }}
	</header>
</a>