		<nav>
			<section class="category">
				<div class="category-trigger">
					<p class="paths">study</p>
					<a href="{{ .Site.BaseURL }}/study" class="btn">View More</a>
					<div class="category-description">
						<p>With seminal topics and diverse authors, we interrogate and develop our disparate and shared practices unto resistance.</p>
					</div>
				</div>
				<div class="category-menu">
					{{ range where .Site.Pages "Params.category" "study" }}
					{{ if in .Params.status "current" }}
					{{ partial "category-post.html" . }}
					{{ end }}
					{{ end }}

					{{ range where .Site.Pages "Params.category" "redux" }}
					{{ if not (in .Params.status "draft") }}
					{{ partial "category-post.html" . }}
					{{ end }}
					{{ end }}
					{{ range where .Site.Pages "Params.category" "study" }}
					{{ if in .Params.status "previous" }}
					{{ partial "category-post.html" . }}
					{{ end }}
					{{ end }}
					<a href="{{ .Site.BaseURL }}/study" class="btn">View All</a>

				</div>
			</section>
			<section class="category">
				<div class="category-trigger">
					<p class="paths">commons</p>
					<a href="{{ .Site.BaseURL }}/commons" class="btn">View More</a>
					<div class="category-description">
						<p>We are a voluntary consulting group helping original peoples and peripheral communities establish digital sovereignty and evade surveillance capitalism with rhizomatic technologies.</p>
					</div>
				</div>
				<div class="category-menu">

					{{ range where .Site.Pages "Params.category" "commons" }}
					{{ if not (in .Params.status "draft") }}
					{{ partial "category-post.html" . }}
					{{ end }}
					{{ end }}
					{{ range where .Site.Pages "Params.category" "slide" }}
					{{ partial "category-post.html" . }}
					{{ end }}
					<a href="{{ .Site.BaseURL }}/commons" class="btn">View All</a>

				</div>
			</section>
			<section class="category">
				<div class="category-trigger">
					<p class="paths">play</p>
					<a href="{{ .Site.BaseURL }}/play" class="btn">View More</a>
					<div class="category-description">
						<p>Digital as material. Open source as a property. Coding for exploration and discovery.</p>
					</div>
				</div>
				<div class="category-menu">

					{{ range where .Site.Pages "Params.category" "play" }}
					{{ partial "category-post.html" . }}
					{{ end }}
					<a href="{{ .Site.BaseURL }}/play" class="btn">View All</a>

				</div>
			</section>
			
		</nav>