<script type="module" src="/javascript/time-elements/index.js"></script>
{{ $jquery := resources.Get "js/jquery.min.js" }}
<script src="{{ $jquery.Permalink }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/2.2.0/detectizr.min.js" integrity="sha512-nDDw7LfkxLf4hO24ikFLVfx6B8LE0mJqCnVFE7gmpTyJSd5EGs8iw+o64qjlQRIHHMfI2SfzYQEGbKrU2tBTqQ==" crossorigin="anonymous"></script>


{{ $gsap := resources.Get "js/gsap.js" }}
<script src="{{ $gsap.Permalink }}"></script>
{{ $sketch := resources.Get "js/sketch.js" }}
<script src="{{ $sketch.Permalink }}"></script>
{{ $three := resources.Get "js/three.js" }}
<script src="{{ $three.Permalink }}"></script>
{{ $demo2 := resources.Get "js/demo2.js" }}
<script src="{{ $demo2.Permalink }}"></script>
{{ $datgui := resources.Get "js/dat-gui.js" }}
<script src="{{ $datgui.Permalink }}"></script>


{{ $popper := resources.Get "js/popper.min.js" }}
<script src="{{ $popper.Permalink }}"></script>
{{ $bootstrap := resources.Get "js/bootstrap.min.js" }}
<script src="{{ $bootstrap.Permalink }}"></script>
<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    $('[data-toggle="popover"]').popover({ trigger: "manual" , html: true, animation:false, content: ''})
    .on("mouseenter", function () {
      var _this = this;
      $(this).popover("show");
      $(".popover").on("mouseleave", function () {
        $(_this).popover('hide');
      });
    }).on("mouseleave", function () {
      var _this = this;
      setTimeout(function () {
        if (!$(".popover:hover").length) {
          $(_this).popover("hide");
        }
      }, 300);
    });
  </script>