<div class="instructions">
  <section>
    <h3>Rules:</h3>
    <p>a book chapter or video {{ if in .Params.Status "current" }}will be{{ else }}was{{ end }}
     announced to study before the meeting</p>
  
    <p>a place to discuss {{ if in .Params.Status "current" }}will be{{ else }}was{{ end }} announced</p>
    
  </section>
<section>
    <h3>Enroll:</h3>

  
    <p>join our 
    <a href="https://signal.group/#CjQKIPegvchEQyuQXnKDrwUBYniuH9kw0T3QS1Ao8s0uU1raEhA7ehpeUK8vzxqInPRzxTRX"> signal group</a>:</p>
   <a class="qr" href="https://signal.group/#CjQKIPegvchEQyuQXnKDrwUBYniuH9kw0T3QS1Ao8s0uU1raEhA7ehpeUK8vzxqInPRzxTRX">{{ partial "qr-study.svg" . }}</a>
    <p>introduce yourself</p>
    


  </section>
  <section>
    <h3>Also:</h3>
    <p>Free and open to all</p>
    <p>Safe space for queers and PoCs</p>
    <p>If you don’t study the assignment, please make space for those who do</p>
<a class="btn" href="/events/">calendar</a>
 </section>
</div>