<div class="member">
	<div class="emoji">{{ .emoji }}</div>
	<div>
	<h3>{{ .name }} {{ .surname }}</h3>
	{{ if .location }}
	<p class="location"><span class="emoji">📍</span>{{ .location }}</p>
	{{ end }}
	{{ if .bio }}
	<p class="bio"><span class="emoji">💬</span>"{{ .bio }}"</p>
{{ end }}
<!-- 	{{ if .social }}<div class="links">{{ range .social }}<a href="#">aaa</a>{{end}}</div>{{end}} -->
<div class="links">
	{{ if .links }}
	<span class="emoji">🔗</span>
	{{ range .links }}
<a href="{{ .URL }}">{{ .title }}</a>
	{{end}}
	{{end}} 
	
</div>
</div>
</div>