:root {
	--magazine-ratio: 500px;
	/* px is a fiction since revealjs scales slides automatically. */	
	/* the bigger the vallue, the "thicker" the magazine */
	--magazine-default-bg: white;
	/* add classes to sections to style it individually */
	--magazine-radius: 4px;
	--magazine-color-1: #666;
	/* arrows and progress bar */
	--magazine-color-2: #eee;
	/* empty scrollbar */
	--magazine-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	--magazine-portrait-zoom: 1.2;
	--magazine-animation: magazine;
	/* use false to disable initial animation */
	--magazine-animation-duration: 500ms;
	--magazine-animation-timing-function: ease-out;
}

@-webkit-keyframes magazine {
	from {
		margin-left: 30%;
		opacity: 0;
		visibility: visible;
	}

	to {
		margin-left: 0px;
	}
}
@keyframes magazine {
	from {
		margin-left: 30%;
		opacity: 0;
		visibility: visible;
	}

	to {
		margin-left: 0px;
	}
}

.reveal .slides {
	box-shadow: var(--magazine-shadow);
	border-radius: var(--magazine-radius);
	background-color: var(--magazine-default-bg);
	width: var(--magazine-ratio) !important;
	animation-name: var(--magazine-animation);
	animation-duration: var(--magazine-animation-duration);
	animation-iteration-count: 1;
	animation-timing-function: var(--magazine-animation-timing-function);
}

/* this is a hack, the best I could do CSS-only. test, test, test */
@media screen and (orientation: portrait) {
	.reveal .slides {
		transform: translate(-50%, -50%) scale(var(--magazine-portrait-zoom)) !important;
	}
}
@media screen and (max-width: --magazine-ratio) {
	transform: translate(-50%, -50%) scale(1) !important;
}

.reveal.overview .slides section {
	background-color: var(--magazine-default-bg);
}
.reveal:not(.overview) .slides {
	overflow: hidden;
}
.reveal .slides section {
	height: 100%;
}
.reveal .roll span:after {
	color: #fff;
	background: #00003f;
}
.reveal .r-frame {
	border: 4px solid #000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.reveal a .r-frame {
	transition: all 0.15s linear;
}
.reveal a:hover .r-frame {
	border-color: #00008b;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}
.reveal .controls {
	color: var(--magazine-color-1);
}
.reveal .progress {
	background: var(--magazine-color-2);
}
.reveal .progress span {
	background-color: var(--magazine-color-1);
}