
	<p><a href="https://tinyletter.com/praxis-play/" rel="nofollow">Subscribe to our newsletter</a> for updates</p>
	<p>Contact us for suggestions: <a href="mailto:info@nicholasfrota.com?subject=praxis%20play%20feature%20suggestion">email</a>, <a href="https://twitter.com/nonlinear" rel="nofollow">twitter</a>, <a href="https://mastodon.social/@nonlinear" rel="nofollow">mastodon</a></p>
	<p><a href="https://t.me/joinchat/IZcW2U4HflaCQj1G" rel="nofollow">Join our telegram group</a> for questions, troubleshooting, etc</p>
